.header {
  margin-bottom: 50px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
  height: 50px;
}
.header__menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu a {
  text-decoration: none;
  color: #737270;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.menu--active {
  border-bottom: 2px solid #000;
}

.menu__cart {
  position: relative;
}

.menu__cart--count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  font-size: 10px;
  height: 20px;
  background-color: #ed2a44;
  border-radius: 50%;
  color: antiquewhite;
  bottom: -13px;
  right: -16px;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .header__inner {
    flex-direction: column;
  }

  .header__logo {
    width: 150px;
    height: 100px;
    margin-bottom: 30px;
  }

  .header__menu {
    flex-direction: column;
  }

  .header__menu a {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
