.header {
  margin-bottom: 50px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
  height: 50px;
}
.header__menu {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
